.btn-buttonstep1 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.btn-buttonstep2 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.btn-buttonstep3 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.btn-buttonstep4 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.mat-raised-button.mat-accent {
  background-color: #00adf4;
  margin-right: 10%;
  margin-top: 10%;
}
.mat-raised-button.mat-primary {
  background-color: #0918ff;
  margin-top: 10%;
}
strong {
  font-weight: bolder;
  color: #333;
}
