//stepper1
.btn-buttonstep1 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.btn-buttonstep2 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.btn-buttonstep3 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.btn-buttonstep4 {
  margin-left: 15%;
  margin-inline-start: 36%;
}
.mat-raised-button.mat-accent {
  background-color: #00adf4;
  margin-right: 10%;
  margin-top: 10%;
}
.mat-raised-button.mat-primary {
  background-color: #0918ff;
  margin-top: 10%;
}
strong {
  font-weight: bolder;
  color: #333;
}



//stepper2
.example-full-width {
  width: 100%;
}
.Text-edit {
  width: 48%;
}
.Text-edit1{
  width: 48%;
  margin-left: 4%;
}
.h5-font{
  font-size: 18px;
  color: gray;
}
.example-card{
    width: 100%;
    height: 100%;
}
.Text-title-loc{
  text-align: center;
}
.Text-title-loc1{
  margin-inline-start: 25%;
}
.example-viewport {
height: 400px;
width: 100%;
border: 1px solid #807c7c;
}

.example-item {
height: 50px;
}

//stepper3
.picfile{
  height: 30%;
  width: 30%;
  margin-left: 37%;
}

.label1{
  margin-left: 10%;
}
.labelfileother{
  margin-left: 15%;
}
.notation{
  margin-left: 10%;
}
.icon-done{
  color: green;
  margin-left: 10%;
}
.example-viewport {
  height: 400px;
  width: 100%;
  border: 1px solid #807c7c;
}

.example-item {
  height: 50px;
}

//stepper4
.example-full-width {
  width: 100%;
}
.Text-edit {
  width: 48%;
}
.Text-edit1{
  width: 48%;
  margin-left: 4%;
}
.h5-font{
  font-size: 18px;
  color: gray;
}
.col-10.datastudent{
  margin-left: 8%;
}
.label1{
    font-size: 16px;
}

.example-viewport {
  height: 400px;
  width: 100%;
  border: 1px solid #807c7c;
}

.example-item {
  height: 50px;
}
