<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>แจ้งเตือน</ng-template>
      <mat-card class="example-card3">
        <mat-card-subtitle>
          <strong>
            ตรวจสอบให้แน่ใจว่าคุณได้สแกนเอกสารข้อมูลการสมัครเรียนเรียบร้อยแล้ว "ใช่"หรือ"ไม่"
            ถ้า "ใช่" อัปโหลดไฟล์ ถ้า "ไม่" กลับไปหน้าแรก
          </strong>
        </mat-card-subtitle>
      </mat-card>
      <div class="col-12">
        <div class="btn-buttonstep1">
          <button mat-raised-button color="accent" class="col-2" (click)="closeonclick()"
            matStepperPrevious>ไม่</button>
          <button mat-raised-button color="primary" class="col-2" (click)="fileInput.click()"
            matStepperNext>ใช่</button>
          <input hidden type="file" #fileInput>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>กรอกข้อมูล</ng-template>
      <div class="row">
        <div class="col-12 mt-2">
          <app-adddatastudent></app-adddatastudent>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-buttonstep2">
          <button mat-raised-button color="accent" class="col-2" matStepperPrevious>กลับ</button>
          <button mat-raised-button color="primary" class="col-2" matStepperNext>ถัดไป</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>อัปโหลดไฟล์</ng-template>
      <div class="row">
        <div class="col-12 mt-2">
          <app-choosefilemultiple></app-choosefilemultiple>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-buttonstep3">
          <button mat-raised-button color="accent" class="col-2" matStepperPrevious>กลับ</button>
          <button mat-raised-button color="primary" class="col-2" matStepperNext>ถัดไป</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>ยืนยันข้อมูล</ng-template>
    <div class="row">
      <div class="col-12 mt-2">
        <app-checkdetail></app-checkdetail>
      </div>
    </div>
    <div class="col-12">
      <div class="btn-buttonstep4">
        <button mat-raised-button color="accent" class="col-2" matStepperPrevious>กลับ</button>
        <button mat-raised-button color="primary" class="col-2" matStepperNext>บันทึก</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
