.picfile{
  height: 30%;
  width: 30%;
  margin-left: 37%;
}
.button{
  margin-left: 44%;
}
.label1{
  margin-left: 35%;
}
.labelfileother{
  margin-left: 41%;
}
.notation{
  margin-left: 35%;
}
.icon-done{
  color: green;
  margin-left: 45%;
}
