.picfile{
  height: 30%;
  width: 30%;
  margin-left: 37%;
}

.label1{
  margin-left: 10%;
}
.labelfileother{
  margin-left: 15%;
}
.notation{
  margin-left: 10%;
}
.icon-done{
  color: green;
  margin-left: 10%;
}
.example-viewport {
  height: 400px;
  width: 100%;
  border: 1px solid #807c7c;
}

.example-item {
  height: 50px;
}
