.btn-addnewbig {
  vertical-align: middle;
    border-style: none;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}
.mat-raised-button.mat-warn {
  background-color: #f13131;
  margin-right: 5%;
}
.mat-raised-button.mat-primary {
  background-color: #1aa237;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button.mat-menu-item {
  width: 100%;
  background-color: #dafddc;
}
