.example-full-width {
    width: 100%;
  }
.Text-edit {
    width: 48%;
  }
.Text-edit1{
    width: 48%;
    margin-left: 4%;
  }
  .h5-font{
    font-size: 18px;
    color: gray;
  }
  .col-10.datastudent{
    margin-left: 8%;
  }
  .label1{
      font-size: 16px;
  }

  .example-viewport {
    height: 400px;
    width: 100%;
    border: 1px solid #807c7c;
  }

  .example-item {
    height: 50px;
  }
